
<img src="{{ album.album_logo }}" height="100px">

<h1>{{ album.album_title }} - {{ album.genre }}</h1>
<h2>{{album.artist}}</h2>

<h3>Tracklist:</h3>
{% if error_message %}
<h1>ERROR</h1>
{% endif %}


<form action={% url "music:favorite" album.id%} method="post">
  {% csrf_token %}
  {% for song in album.song_set.all %}
    <input type="radio" id="song{{ forloop.counter }}" name="song" value={{ song.id }} />
    <label for="song{{ forloop.counter }}">{{ song.song_title }}
        {% if song.is_favorite %}
          *****
        {% endif %}
    </label><br>
  {% endfor %}
    <input type="submit" value="Favorite">
</form>