{% extends 'music/base.html' %}

{% block title %}SoundCrowd | "{{ album.album_title }}"{% endblock %}

{% block body %}
  <img src="{{ album.album_logo }}" height="100px">

  <h1>{{ album.album_title }} - {{ album.genre }}</h1>
  <h2>{{album.artist}}</h2>

  <h3>Tracklist:</h3>
  {% if error_message %}
  <h1>ERROR</h1>
  {% endif %}


  {% for song in album.song_set.all %}
    {{ song.song_title }}
        {% if song.is_favorite %}
          *****
        {% endif %}
    <br>
  {% endfor %}

{% endblock %}