{% extends 'music/base.html' %}
{% block title %}All Albums{% endblock %}


{% block body %}
  {% if all_albums %}
    <div class="row">

      {% for album in all_albums %}
      <div class="card m-4 p-1 card-width">
        <img class="card-img-top" src={{ album.album_logo.url }} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ album.album_title }}</h5>
          <p class="card-text">{{ album.artist }}</p>
          <a href={% url 'music:album-detail' album.id %} class="btn btn-primary">View {{album.song_set.all.count}} Songs</a>

          <form action={% url 'music:album-delete' album.id %} method="post" class="album-delete-button">
            {% csrf_token %}
            <input type="hidden" name="album_id" value={{ album.id }}>
            <button type="submit" class="btn">
              <span class="fa fa-trash-alt"></span>
            </button>
          </form>
        </div>
      </div>
      {% endfor %}
      
    </div>

  {% else %}
    <div class="row">
      <div class="card m-4 p-1 card-width">
        <img class="card-img-top" src=https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">You Haven't Added Any Songs Yet!</h5>
          <p class="card-text">{{ request.user}}</p>
          <a href={% url 'music:album-add' %} class="btn btn-primary">Click Here To Add A New Album</a>

        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}