{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

{% if all_albums %}
  <ul>
    {% for album in all_albums %}
    <li><a href={% url 'music:detail' album.id %}>{{ album.album_title }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <h3>NO ALBUMS FOUND</h3>
{% endif %}