{% extends 'music/base.html' %}

{% block title %}SoundCrowd | Sign Up{% endblock %}

{% block body %}
<div class="row">

  <div class="col-md-5">
    <div class="card ml-4 mt-4">
      <div class="card-body">
        <h5 class="card-title">Create A New Account</h5>
        {% if error_message %}
          <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <form class="form-horizontal" action={% url 'music:register'%} method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% include "music/form-template.html" %}
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
              <button type="submit" class="btn btn-success">Register</button>
            </div>
          </div>
        </form>
        
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="card m-4">
      <div class="card-body gif-container">
        <img src="https://media.giphy.com/media/EoGhIeF6I55Ze/giphy.gif" class="record-gif">
      </div>
    </div>
  </div>
  

</div>

{% endblock %}