{% extends 'music/base.html' %}
{% block body %}

<div class='songs-container container-fluid'>
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-default">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Song Title</th>
                <th>Artist</th>
                <th></th>
                <th>Album</th>
                <th>Favorite</th>
              </tr>
            </thead>
            <tbody>
            {% for song in song_list %}
              <tr>
                <td>{{ song.song_title }}</td>
                <td>{{ song.album.artist }}</td>
                <td>
                  <a target="_blank" href="{{ song.audio_file.url }}">
                    <button type="button" class="btn btn-success btn-xs">
                      <span class="fas fa-play"></span>&nbsp; Play
                    </button>
                  </a>
                </td>
                <td>
                  <a href={% url 'music:album-detail' song.album.id %}>
                    <img src={{ song.album.album_logo.url }} class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                  </a>
                  <a href={% url 'music:album-detail' song.album.id %}>{{ song.album.album_title }}</a>
                </td>
                <td>
                  {% if song.is_favorite %}
                    <a href={% url 'music:favorite-song' song.id %} class="btn-favorite"><i class="fas fa-thumbs-up"></i></a>
                  {% else %}
                    <a href={% url 'music:favorite-song' song.id %} class="btn-favorite"><i class="far fa-thumbs-up"></i></a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
    
{% endblock %}