{% extends 'music/base.html' %}

{% block title %}"{{ album.album_title }}"{% endblock %}

{% block body %}


<div class="row">
  <div class="col-md-3">
    <div class="card p-2 mt-4 ml-3">
      <img class="card-img-top" src={{ album.album_logo.url }} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ album.album_title }}</h5>
        <p class="card-text">{{album.artist}}</p>
      </div>
      <div class="card-footer text-muted">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" href={% url 'music:album-update' album.id %}>Edit Album Info</a>
          </li>
        </ul>
          <form action={% url 'music:album-delete' album.id %} method="post" class="album-delete-button">
            {% csrf_token %}
            <input type="hidden" name="album_id" value={{ album.id }}>
            <button type="submit" class="btn btn-warning">
              <span class="fa fa-trash-alt"></span>
            </button>
          </form>
      </div>
    </div>
  </div>

  <div class="col-md">
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link btn" href={% url 'music:album-detail' album.id %}>View All</a></li>
        <li class="nav-item"><a class="nav-link btn btn-primary active" href="#">Add New Song</a></li>
      </ul>
    <div class="card mt-4 ml-3 mr-5">
      <div class="card-header">
        Add A New Song
        {% if error_message %}
        <p>{{ error_message }}</p>
        {% endif %}
      </div>
      <div class="card-body">
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="album" value="{{ album }}">
          {% include 'music/form-template.html' %}
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}