body{
  background: brown;
}

.navbar-brand{
  font-family: 'Molle', cursive;
  font-size: 30px;
}

.album-delete-button{
  display: inline;
}

.card-width{
  width: 24rem;
}
.blockbody{
  margin-top: 75px;
}

.masthead{
  margin-top: -75px;
}
#services{
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8)), url("images/pexels-photo-92083.jpeg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
}