body{
  background: brown;
}

.navbar-brand{
  font-family: 'Molle', cursive;
  font-size: 30px;
}

.album-delete-button{
  display: inline;
}

.card-width{
  width: 24rem;
}
.blockbody{
  margin-top: 100px;
}

.masthead{
  margin-top: -200px;
}
.card{
  margin-bottom: 50px;
  margin-top: 10px;
}
#services{
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 195, 106, 0.8)), url("images/service-bg.jpeg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

#team{
  background: linear-gradient(rgba(255, 124, 124, 0.8), rgba(255, 255, 255, 0.0)), url("images/team-bg.jpeg")
}

.source-code{
  color: white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: underline;
}
.source-code:hover{
  color: #fed136;
}
.copyright{
  color: white;
}
.nav-link{
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-link:hover{
  color: #fed136;
}

footer{
  background-color: #212529;
}

.song-list-mini{
  width: 20px; 
  float: left; 
  margin-right: 10px;
}